/* Styles-SPF-GR.css */
.GR_Table_collapse
{
    border-collapse: collapse;
    width: 30px;
    height: 30px;
}
.GR_TD_border_collapse
{
    border: 1px solid black;
    border-collapse: collapse;
    width: 30px;
    height: 30px;
}

.GR_Status_Normal
{
    color:black;
    background-size: 30px;
    background-image: url("images/Button_Empty.png");
}

.GR_Status_Incorrect
{
    color:black;
    background-size: 30px;
    background-image: url("images/Button_RedX.png");
}

.GR_Status_Corrected
{
    color:blue;
    background-size: 30px;
    background-image: url("images/Button_OrangeCorner.png");
}

.GR_Status_Correct
{
    color:blue;
    background-size: 30px;
    background-image: url("images/Button_Empty.png");
}

.GR_Base
{
    border: 0px;
    border-collapse: collapse;    
    outline: none;    
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 30px;
    height: 30px;
}

.GR_Color_InActive
{
    background-color: antiquewhite;
    caret-color: antiquewhite;    
}

.GR_Color_Focus
{
    background-color: yellow;
    caret-color: yellow;
}

.GR_Color_Active
{
    background-color: aqua;
    caret-color: aqua;
}

.GR_Color_BlackSquare
{
    background-color: black;
    caret-color: black;    
}
