/* Styles-GRB-Button.css */

.GRB_Div
{
    outline: none; 
    border-collapse: collapse; 
    height: 40px;
    width:200px;
    padding: 0px;
    margin:0;
    font-size:0px;
}

.GRB_Div_50
{
    outline: none; 
    border-collapse: collapse; 
    height: 50px;
    width:200px;
    padding: 0px;
    margin:0;
    font-size:0px;
}

.GRB_Base 
{
    position:relative;
    left: 0px;
    top:0px;
    background-color: green;
    border-collapse: collapse; 
    padding-top: 10px;
    outline: none; 
    border: 0px solid black;
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 40px;
    height: 40px;
    background-size: 40px;
    caret-color: transparent;
}

.GRB_Base_50
{
    position:relative;
    left: 0px;
    top:0px;
    background-color: green;
    border-collapse: collapse; 
    padding-top: 10px;
    outline: none; 
    border: 0px solid black;
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 50px;
    height: 50px;
    background-size: 50px;
    caret-color: transparent;
}

.GRB_Base_60
{
    position:relative;
    left: 0px;
    top:0px;
    background-color: green;
    border-collapse: collapse; 
    padding-top: 10px;
    outline: none; 
    border: 0px solid black;
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 60px;
    height: 60px;
    background-size: 60px;
    caret-color: transparent;
}
