/* Styles-Button-Info.css */
.Info_DivBorder_Image
{
  width: 450px;
  height: 600px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  background-size: 450px;
  background-image: url("images/InfoBackground.jpg");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
}

.Info_DivBorder
{
  border-width:0px;
  border-style:solid;
  border-color:black;
}

.Button_Info_CloseBox
{
  width:100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  border:1px;
  border-color:black
}

.Button_Info 
{
  width:450px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  border:1px;
  border-color:black
}

.Button_Info .Button_Info_Text 
{
  visibility: hidden;
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border:1px;
  border-color:black;
  border-width: 100px;
  border-radius: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  bottom:10px;
  left:0%;
  margin-left:0px;
}
/*
  top:100px;
*/  
.Button_Info .show 
{
  visibility: visible;
}

