/* Styles-SPF-Keyboard.css */

.KB_Button_Letter 
{
    width: 55;
    font-size: 30px;
}

.KB_Button_Backspace 
{
    width: 80;
    font-size: 15px;
}

.KB_Button 
{
    border: 1px solid #222222;
    padding: 0px;
    height: 55px;
    outline: none;    
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    background-color:#DDDDDD;
    caret-color: transparent;
    color:black;
}

.KB_Area
{
    padding: 0px;
    height: 20%;
    width: 100%;
    border: 0px;
    border-collapse: collapse;    
    outline: none;    
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    background-color: white;
    caret-color: transparent;
    color:black;
}

